<div class="row justify-space-between-md" style="width: 95vw; height: 60vh; overflow: auto;">
  <div class="login-card">
    <h2 class="page-title">Sign-up</h2>
    <form class="form sign-up">
      <div class="form-group">
        <label for="username">Username:</label>
        <input class="form-input" type="text" id="username" />
      </div>
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="email" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign up</button>
      </div>
    </form>
    <p>Already have an account? Click <a href="/login">here</a>!</p>
  </div>


<script src="./js/signup.js"></script>
